<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>sonicnet demo</title>
	</head>
	<body>
		<div id="app">
			<label>传输数据：<textarea name="" id="" cols="30" rows="3" v-model="customStr"></textarea></label>
			<p>
				<button @click="handleSendCustomStr">发送</button>
			</p>
			<div>
				<p>
					<button @click="toggleMode">切换模式</button>
					<button @click="toggleShowVisualizer">切换显示波形</button>
				</p>
				当前模式：{{ mode }}
			</div>
			<ul>
				<li v-for="emo in EMOTICONS" @click="handleClickEmo(emo)" :key="emo">{{ emo }}</li>
			</ul>
			<div>
				<span>收到的数据：</span><span style="color: red;">{{ message }}</span>
			</div>
		</div>

		<script src="./lib//sonic-coder.js?v=8"></script>
		<script src="./lib/sonic-socket.js"></script>
		<script src="./lib/ring-buffer.js"></script>
		<script src="./lib/sonic-server.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="./main.js?v=124"></script>
	</body>
</html>
